<!DOCTYPE html>
<html lang="en" ng-app="tic-tac-tangular">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title > {{title}} </title >
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/assets/vendor/angular/angular.min.js"></script>
  <script src="/assets/vendor/angular-route/angular-route.min.js"></script>

  <link rel="stylesheet" href="/assets/styles/main.css">
</head>
  <body>
    {{> body}}
    <!-- Scripts -->
    {{> scripts}}
    <!-- // Scripts -->
  </body>
</html>
